html{
    background: blanchedalmond;
}

p{
    padding-left: 20px;
    padding-right: 20px;
}
img{
    width: 400px;
    height: 400px;
    border-radius: 80%;
}

a{
    text-decoration: none;
}

#h1{
    margin: 0 auto;
    text-align: center;
}

div.questions{
    text-align: center;
}

div.button{
    display: flex;
    justify-content: center;
}

.links{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#instrucao{
    width: 80%;
    margin: 0 auto;
}

#header{
    text-align: center;
}

#lista{
    text-align: center;
}

#hobbies{
    margin: 0 auto;
    width: 20%;
}